@import 'maincolors';
@import 'hamburgers';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-family: 'Raleway', sans-serif;
	color: $text1;
	background-color: $body-bgc;
	// transform: translateZ(100px);
	z-index: 1;
}

body::-webkit-scrollbar {
	width: 2em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: #00a7d1;
	background-image: linear-gradient(315deg, $text-highlight2 10%, #00a7d1 74%);
}

.mobile-menu-open {
	overflow: hidden;
	height: 100vh;
}

.wrapper {
	padding: 0 2rem;
	width: 100vw;
}

.bold {
	font-weight: bold;
}

.nav__mobile-container {
	position: fixed;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	transform: translateZ(10000px);
	z-index: 100;

	/* background by SVGBackgrounds.com */

	background-color: #023e8a;
	background-image: url('../../dist/img/nav-mobile-backgroung.svg');
	background-size: cover;

	.nav__mobile-items {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		list-style-type: none;
		font-size: 3.5rem;

		.nav__mobile-item {
			padding: 0.7em 0 0.4em;
			margin: 0.5em;
			width: 65%;
			max-width: 30rem;
			text-align: center;
			border-bottom: 1px solid $text3;

			a {
				text-decoration: none;
				color: $text3;
			}
		}
	}
}

.burger-btn {
	position: fixed;
	top: 22px;
	right: 20px;
	transform: translateZ(10000px);
	z-index: 100;
}

.nav-box {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10rem;
	width: 100%;
	background-color: rgba($color: #000000, $alpha: 0.65);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7px);
	transform: translateZ(400px);
	z-index: 4;

	&__logo {
		text-decoration: none;
		color: $text3;
		font-size: 2rem;
		transition: opacity 0.3s;
	}

	&__desktop {
		display: none;
	}
}

.header {
	position: relative;
	height: 100vh;
	min-height: 568px;
	width: 100%;
	background-image: url('../../dist/img/header-background.svg'); // background by SVGBackgrounds.com
	background-size: cover;
	transform: translateZ(300px);
	z-index: 3;

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		color: $text3;
		font-size: 2rem;

		&-title {
			font-size: 2rem;

			.my-name {
				font-size: 4rem;
				margin: 0.5em 0;
			}
		}

		&-text {
			p {
				margin-bottom: 1em;
			}
		}

		&-highlight {
			color: $text-highlight1;
		}
	}

	&__img {
		display: none;
	}

	&__button {
		position: relative;
		bottom: 7em;
		left: 50%;
		transform: translateX(-50%);
		width: 5em;
		height: 5em;
		border-radius: 50%;
		color: $text3;
		font-size: 1.7rem;
		background: none;
		border: 1px solid $text-highlight1;
		overflow: hidden;

		&--animation {
			animation: textsize 0.7s linear;
		}

		a {
			display: inline-block;
			padding: 2.5em;
		}

		a,
		a:link,
		a:active,
		a:visited {
			color: $text3;
		}

		&-text {
			position: absolute;
			top: 35%;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
		}

		.fa-chevron-down {
			position: absolute;
			bottom: 15%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.main {
	.section {
		&__title {
			margin: 3em auto 1em;
			text-align: center;
			font-size: 4rem;
			color: $text2;
		}
	}

	.about {
		display: flex;
		justify-content: center;

		&__content {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__content-textbox {
			width: 100%;
			font-size: 2rem;
			color: $text1;
		}

		&__text {
			margin: 1em 0;
		}

		&__img {
			display: none;
		}

		&__skills-title {
			padding: 2em 0 0.5em;
			text-align: center;
			font-size: 2.7rem;
			color: $text2;
		}

		&__skills-content {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}

		&__skill {
			padding: 1em;
			width: 12rem;
			text-align: center;

			&-icon,
			&-iconspinning {
				margin-bottom: 0.1em;
				font-size: 5rem;
				color: $text-highlight2;
			}

			&-iconspinning {
				animation: reactrotate 7s linear infinite;
			}

			&-name {
				font-size: 2rem;
			}
		}
	}

	.blur {
		text-align: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 0 2rem;
		background-color: rgba(128, 128, 128, 0.5);
		backdrop-filter: blur(15px);
		border-radius: 20px;

		&__text {
			margin-top: 10rem;
			padding: 0.5rem;
			font-size: 2rem;
			color: white;
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: 12px;
		}
	}

	.projects {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__cards {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;
		}

		&__card {
			position: relative;
			margin: 2em;
			width: 85vw;
			max-width: 300px;
			height: calc(85vw * 1.4);
			max-height: calc(300px * 1.4);
			border-radius: 20px;
			transition: transform 0.8s;
		}

		&__icon-button {
			position: absolute;
			top: 2rem;
			right: 2rem;
			border-radius: 50%;
			height: 5em;
			width: 5em;
			background: none;
			border: 1px solid $text3;
		}

		&__icon-arrow {
			font-size: 2.5rem;
			color: $text3;
		}

		&__img {
			position: relative;
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center;
			border-radius: 20px;
			box-shadow: 10px 10px 20px #666;
			transition: transform 0.8s, opacity 0.8s;
			transform: translateZ(100px);
			z-index: 1;

			&-title {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 1rem;
				height: 5rem;
				width: 5rem;
				font-size: 3rem;
				color: $text3;
				background-color: rgba($color: $text2, $alpha: 0.8);
				border-radius: 50%;
				box-shadow: 0 0 20px $text2;
			}

			&-one {
				background-image: url('../img/react-food-app.webp');
			}

			&-two {
				background-image: url('../img/green-shop.webp');
			}

			&-three {
				background-image: url('../img/react-todo.webp');
			}

			&-four {
				background-image: url('../img/todo-img.webp');
			}

			&-five {
				background-image: url('../img/workout.webp');
			}

			&--rotate {
				opacity: 0;
				transform: rotateY(180deg) translateZ(0px);
				z-index: 0;
			}
		}

		&__text {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			height: 100%;
			width: 100%;
			padding: 0 3rem 3rem;
			font-size: 1.8rem;
			color: $text3;
			border-radius: 20px;
			opacity: 0;
			background-color: $text-highlight2;
			background-image: linear-gradient(
				315deg,
				$text-highlight2 10%,
				#009ffd 74%
			);
			transform: rotateY(-180deg) translateZ(0px);
			transition: transform 0.8s, opacity 0.8s, box-shadow 0.8s;
			z-index: 0;

			&-title {
				margin-bottom: 0.8em;
				width: 100%;
				text-align: center;
				font-size: 1.1em;
			}

			&-description {
				font-size: 0.95em;
			}

			&-subtitle {
				margin: 1rem auto;
				width: 100%;
				text-align: center;
				font-size: 1em;
			}

			&-tech-box {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				width: 100%;
			}

			&-tech-item {
				margin: 0 1rem;
				font-size: 0.95em;
			}

			&-button {
				margin-top: 1.5em;
				padding: 0.7em;
				font-size: 2rem;
				background-color: $text-highlight3;
				border: 2px solid $text-highlight3;
				border-radius: 15px;
				box-shadow: 0 0 10px $text-highlight3;
				transition: transform 0.3s, box-shadow 0.3s;
				cursor: pointer;
				overflow: hidden;

				a,
				a:link,
				a:active,
				a:visited {
					text-decoration: none;
					color: $text3;
				}

				&--disabled {
					margin-top: 1.5em;
					padding: 0.7em;
					font-size: 2rem;
					background-color: $text3;
					border: 2px solid $text3;
					border-radius: 15px;
					box-shadow: 0 0 10px $text3;
					transition: transform 0.3s, box-shadow 0.3s;
					cursor: default;
					overflow: hidden;
				}
			}

			&-button:hover {
				transform: scale(1.1);
				box-shadow: 0 0 20px $text-highlight3;
			}

			&--rotate {
				opacity: 1;
				transform: rotateY(0deg) translateZ(100px);
				// transform: translateZ(100px);
				box-shadow: #023e8a 10px 10px 20px;
				z-index: 1;
			}
		}
	}

	.contact {
		display: flex;
		justify-content: center;

		&__text {
			font-size: 2rem;

			&-highlight {
				color: $text-highlight2;
			}

			&-margin {
				margin: 1em 0;
			}

			&-bigger {
				font-size: 2.5rem;
			}
		}

		&__button {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			margin: 2em auto;
			height: 2.5em;
			width: 9em;
			font-size: 3rem;
			background-color: #0078d0;
			border-radius: 100px;
			border: none;
			transition: box-shadow 0.3s, transform 0.3s;
			cursor: pointer;
			overflow: hidden;

			a,
			a:link,
			a:active,
			a:visited {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: inline-block;
				padding: 1em;
				width: 9em;
				font-size: 3rem;
				color: $text3;
				text-decoration: none;
			}
		}

		&__button::before {
			content: '';
			position: absolute;
			top: 0;
			left: 4%;
			height: 50%;
			width: 92%;
			background-color: initial;
			background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
			border-radius: 125px;
			opacity: 0.5;
		}

		&__button-shadow {
			position: absolute;
			top: 50%;
			left: -100px;
			transform: translateY(-50%) rotate(15deg);
			height: 150%;
			width: 40px;
			background-image: linear-gradient(
				-90deg,
				rgba(255, 255, 255, 0.3),
				rgba(255, 255, 255, 0)
			);

			&--animation {
				animation: shiningbutton 0.6s linear;
			}
		}

		&__button:hover {
			box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
				rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
			transform: translateX(-50%) scale(1.05);
		}

		&__button:hover .contact__button-shadow {
			animation: shiningbutton 0.6s linear;
		}

		&__carousel {
			margin: 2em 0;

			&-text1 {
				margin: 0.5em 0;
				font-size: 4rem;
				text-align: center;
			}

			&-text2 {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-wrap: wrap;
				width: 100%;
				font-size: 3rem;

				&-italic {
					font-weight: 300;
					font-style: italic;
				}
			}

			&-box {
				position: relative;
				margin: 0.5em;
				width: 25rem;
				height: 6rem;
				background-color: $text-highlight3;
				color: #fff;
				border-radius: 50px;
				overflow: hidden;
			}

			&-list {
				display: flex;
				flex-direction: column;
				align-items: center;
				animation: carouselspinning 35s cubic-bezier(0.15, 1, 0.15, 1) infinite;
			}

			&-item {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 6rem;

				&-beautify {
					font-family: Dancing Script, cursive;
				}
			}
		}
	}
}

.social-container {
	.social-media-wrapper {
		.social-media-links {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin: 0 auto;
			width: 80%;

			.fa-brands {
				font-size: 4rem;
				color: $text-highlight2;
				transition: transform 0.3s, color 0.3s;
			}
		}

		.email-link {
			display: flex;
			justify-content: center;
			margin: 3em 0 3em;

			a,
			a:link,
			a:active,
			a:visited {
				font-size: 2rem;
				color: $text-highlight2;
			}
		}
	}
}

.footer {
	padding: 2em 0em;
	border-top: 1px solid #ddd;

	&__text {
		font-size: 1.3rem;
	}

	&__icon {
		height: 1.3rem;
		width: 1.3rem;
	}
}

@media (min-width: 992px) {
	:root {
		font-size: 70%;
	}

	.nav__mobile-container {
		display: none;
	}

	.hamburger {
		display: none;
	}

	.nav-box {
		&__wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__logo:hover {
			opacity: 0.7;
		}

		&__desktop {
			display: flex;
			list-style-type: none;
			font-size: 2rem;

			&-items {
				a {
					margin: 0 2em;
					color: $text3;
					text-decoration: none;
					transition: opacity 0.3s;
				}

				a:hover {
					opacity: 0.7;
				}
			}
		}
	}

	.header {
		&__content {
			&-box {
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
			}
		}

		&__wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__img-box {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&__img {
			display: inline-block;
			// border: 1px solid black;
		}

		&__button:hover {
			.fa-chevron-down {
				animation: arrowmove 0.6s linear;
			}
		}
	}

	.main {
		.about {
			&__content-textbox {
				width: 50%;
				margin: auto;
			}

			&__img {
				display: block;
				max-height: 35rem;
			}

			&__skill {
				&-icon {
					transition: transform 0.3s;
				}

				&-icon:hover {
					transform: scale(1.2);
				}

				&-iconspinning:hover {
					animation-duration: 3s;
				}
			}
		}

		.projects {
			&__wrapper {
				display: flex;
			}

			&__card {
				margin: 3em;
				width: 350px;
				max-height: 500px;
			}
		}
	}
}

@media (min-width: 1200px) {
	:root {
		font-size: 75%;
	}

	.wrapper {
		margin: 0 auto;
		width: 80%;
		max-width: 1320px;
	}

	.header {
		background-attachment: fixed;
	}

	.main {
		.projects {
			&__card {
				margin: 1.5em;

				&--shaking {
					animation: none;
				}
			}

			&__card:hover .projects__text {
				opacity: 1;
				transform: rotateY(0deg) translateZ(100px);
				box-shadow: 10px 10px 20px $text2;
				z-index: 1;
			}

			&__card:hover .projects__img {
				opacity: 0;
				transform: rotateY(180deg) translateZ(0px);
				z-index: 0;
			}

			&__icon-button {
				display: none;
			}
		}
	}

	.social-container {
		position: fixed;
		right: 0;
		left: 0;
		bottom: 0;
		display: flex;
		justify-content: center;

		.social-media-wrapper {
			position: relative;

			.social-media-links,
			.email-link {
				position: absolute;
				bottom: 21rem;
				height: auto;
				width: 30rem;
				transform: rotate(90deg) translateZ(200px);
				z-index: 2;
			}

			.social-media-links {
				left: -20rem;
				display: flex;
				justify-content: space-around;
				margin: 0;

				a {
					transform: rotate(-90deg);
				}

				.fa-brands:hover {
					color: $text-highlight3;
					transform: scale(1.1);
				}
			}

			.email-link {
				display: block;
				right: -20rem;
				text-align: center;
				margin: 0;

				a,
				a:link,
				a:active,
				a:visited {
					text-decoration: none;

					.fa-envelope {
						display: none;
					}
				}
			}

			.email-link:hover {
				a,
				a:link,
				a:active,
				a:visited {
					text-decoration: underline;
				}
			}
		}
	}
}

@keyframes textsize {
	25% {
		transform: translateX(-50%) scale(1.2);
	}

	50% {
		transform: translateX(-50%) scale(1);
	}

	75% {
		transform: translateX(-50%) scale(1.2);
	}

	100% {
		transform: translateX(-50%) scale(1);
	}
}

@keyframes arrowmove {
	25% {
		bottom: 8%;
	}

	50% {
		bottom: 12%;
	}

	75% {
		bottom: 8%;
	}

	100% {
		bottom: 15%;
	}
}

@keyframes reactrotate {
	to {
		transform: rotate(360deg);
	}
}

@keyframes shiningbutton {
	to {
		left: 110%;
	}
}

@keyframes carouselspinning {
	10% {
		transform: translateY(-10%);
	}

	20% {
		transform: translateY(-20%);
	}

	30% {
		transform: translateY(-30%);
	}

	40% {
		transform: translateY(-40%);
	}

	50% {
		transform: translateY(-50%);
	}

	60% {
		transform: translateY(-60%);
	}

	70% {
		transform: translateY(-70%);
	}

	80% {
		transform: translateY(-80%);
	}

	90% {
		transform: translateY(-90%);
	}

	100% {
		transform: translateY(-100%);
	}
}
